.banner-v-c
  position: relative
  .img-w
    padding: 0 50px
    min-height 150px
    @media screen and (max-width: 1200px)
      padding: 0
    img
      width: 100%
    .pc-banner
      @media screen and (min-width: 1200px)
        display: block
      @media screen and (max-width: 1200px)
        display: none
    .m-banner
      @media screen and (min-width: 1200px)
        display: none
      @media screen and (max-width: 1200px)
        display: block
  .wrap-p
    margin-left: -80px
    @media screen and (max-width: 1500px)
      margin-left: 20px
  .text-w
    position: absolute
    left: 100px
    top: 50%
    transform translate(0,-50%)
    margin-left: 0
    @media screen and (max-width: 1200px)
      left: 10px
    .text2
      font-weight: bold
    .margi-text2
      margin: 50px 0
      @media screen and (max-width: 1200px)
        margin: 20px 0
    .wrap-p
      margin-left: 0
  .text1
    font-size: 16px
    color #636e72
    letter-spacing 8px
    margin-bottom: 25px
    font-weight: bold
    @media screen and (max-width: 1200px)
      font-size: 14px
      letter-spacing 0
      margin-bottom: 10px
  .text2
    font-size: 52px
    color #2d3436
    letter-spacing 20px
    @media screen and (max-width: 1200px)
      font-size: 16px
      letter-spacing 5px
  .en-text
    font-size: 40px
    letter-spacing 10px
    @media screen and (max-width: 1200px)
      font-size: 16px
      letter-spacing 0
  .en-text3
    font-size: 40px
    letter-spacing 0
    @media screen and (max-width: 1200px)
      font-size: 16px
      letter-spacing 0
  .btn-w a
    margin-top: 60px
    width: 250px
    height: 60px
    border: 2px solid #636e72
    display: flex
    align-items center
    justify-content center
    font-size: 14px
    color #636e72
    cursor pointer
    @media screen and (max-width: 1200px)
      display: none
  //width: 150px
  //height: 40px
  //margin-top: 20px
  .scroll
    position: absolute
    bottom: 50px
    right: 50px
    font-size: 12px;
    display: inline;
    color: #636e72;
    cursor: pointer;
    line-height: 1.5;
    border-bottom: 1px solid #000;
    @media screen and (max-width: 1200px)
      bottom: 10px
      right: 10px
.main-container .banner
  min-height 150px
  img
    width: 100%
.wrapper-pc
  @media (max-width: 1200px) {
    display none
  }
  @media (min-width: 1200px) {
    display block
  }

.wrapper-mobile
  @media (min-width: 1200px) {
    display none
  }
  @media (max-width: 1200px) {
    display block
  }
@media screen and (max-width: 1200px) {
  .wrap {
    width: 100% !important;
    padding: 0 4%;
  }
}

